body {
  background-color: #333;
}

h1 {
  text-align: center;
  color: rgb(45, 93, 35);
  font-style: italic;
  font-size: 80px;
  font-family: "Playfair Display", serif;
}

.skill-header {
  text-align: left;
}

h2 {
  text-align: center;
  color: rgb(133, 207, 116);
  font-style: italic;
  size: 200px;
}

h3 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

.text-white {
  color: aliceblue;
}

.text-green {
  color: rgb(133, 207, 116);
}

.text-bold {
  font-weight: 600;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
